<div>
  <nav class="mobile-nav">
        <a href="http://127.0.0.1:3000/offers" class="bloc-icon">
            <img src="https://res.cloudinary.com/dgn2w2wvl/image/upload/v1662384877/sitpet4bed/Navbar-Icons/home_wu6qks.png">
        </a>
        <a href="http://127.0.0.1:3000/map" class="bloc-icon">
            <img src="https://res.cloudinary.com/dgn2w2wvl/image/upload/v1662384877/sitpet4bed/Navbar-Icons/vector_im8qmc.png" alt="">
        </a>
        <a href="http://localhost:3000/profile" class="bloc-icon">
            <img src="https://res.cloudinary.com/dgn2w2wvl/image/upload/v1662384877/sitpet4bed/Navbar-Icons/user_mbdipt.png" alt="">
        </a>
        <a href="http://127.0.0.1:3000/messages" class="bloc-icon">
            <img src="https://res.cloudinary.com/dgn2w2wvl/image/upload/v1662384877/sitpet4bed/Navbar-Icons/messenger_gxfp3j.png" alt="">
        </a>
  </nav>
</div>

