
<div class="container text-block home-page">
  <div class="home-content">
    <h1 class= "logo"></h1>
    <h1 class= "brand-name">sitpet4bed</h1>

    <div class= "search-form">
      <h5>Select a city</h5>
       <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
          <div class="search-form-control form-group">
            <input class="form-control string required border" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
    </div>
    <div class="mt-4">
        <p class="btn-main">start</p>
    </div>
    <div class="log-in">
        <%= link_to "login",   new_user_session_path, class: "btn btn-ghost" %>
        <%= link_to "don't have an account? Sign up",  new_user_registration_path%>
    </div>

  </div>
</div>
