
<div class="container text-block home-page">
    <%= image_tag("Icon.png", :alt => "logo", class: "logo") %>
  <div class="home-content">
    <div class= "search-form">
      <h5>Select a city</h5>
       <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
          <div class="search-form-control form-group">
            <input class="form-control string required border" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
    </div>


    <div class="button-container">
        <%= link_to "start",   offers_path, class: "btn-main" %>
    </div>
    <% if user_signed_in? %>
    <div class="log-in">
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-ghost" %>
    </div>
    <% else %>
    <div class="log-in">
        <%= link_to "login",  new_user_session_path, class: "btn btn-ghost" %>
        <%#= link_to "don't have an account? Sign up",  new_user_registration_path,  class: "signup-link" %>
    </div>

    <% end %>
  </div>
</div>
