.btn-main {
  background-color: #FF9F1C;
  color: white;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  font-size: 20px;
  padding: 11px 65px;
  height: 50px;
  width: 175px;


  &:hover {
    background-color: #7b8079;
    color: white;
  }
}

.btn-ghost {
  color: #fcfcfc;
  border: 3px solid #FF9F1C;
  height: 50px;
  width: 175px;
  padding: 10px 24px;
  border-radius: 15px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

}

.btn-ghost:hover {
  opacity: 1;
}

.back_icon{
color: azure;
}

.button_send{
  border-radius: 50%;
  height: 62px;
  width: 62px;
}

.button_Accept_Offer{
  border-radius: 50px;
}

.offer_button{
  color: #FF9F1C;
}

.delete_button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 25px;
  color: #fcfcfc;
}
