.mapboxgl-popup {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 400px;
  width: 100%;

  color: #ffffff;
 
  text-align: center;

  line-height: 1.4em;
  font-weight: 500;
   font-size: 14px;
   color: #000000;

}

.mapboxgl-popup-content {
   text-align: center;
   font-family: "Open Sans", sans-serif;
   text-decoration: none;

   overflow: visible;

   background-color: white;

  }

  .mapboxgl-popup-content a {
    pointer-events: all;
    text-decoration: none;

 }


 .body{
  text-decoration: none;
 }

 .mapboxgl-ctrl-geocoder {
  max-width: none !important;
  margin-top: 10px;
  display: flex;
  width: 100%;
  // border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
  max-width: fit-content;
  border: none;

 .mapboxgl-popup-tip {
  align-self: center;
  border-left: none;
  border-right-color: #fff;
  background-color: gray

}

  .mapboxgl-ctrl-geocoder {
    max-width: none !important;
    display: flex;
    width: 100%;
    // border: 1px solid lightgrey;
    box-shadow: none;
    background-color: transparent;
    max-width: fit-content;
    border: none;
    margin-left: 10px;
  }

  .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
   margin: 14px -5px 0 0;
   float: right;
 }
.mapboxgl-ctrl-top-right{
  width: 100%;
  margin-top: 10px;
  margin-left: 77px;
  position: relative;
  left: 10px
  input{
    width: 80%;
  }
}
// .mapboxgl-info{
//   background: black;
// 	color: white;
// 	position: absolute;
// 	top:px-to-ems(-25px);
// 	left:50%;
// 	margin-left:px-to-ems(-125px);
// 	padding:px-to-ems(18px);
// 	width:px-to-ems(250px);
// 	z-index:10;
// }


// .mapboxgl-pins {
//   position: absolute;
//   height: 100%;
//   top:0;
//   left:0;
//   width: 100%;
// }

// .marker-costa-rica {
//   left:17.5%;
//   top: 50%;
//   -webkit-animation-delay:.2s;
//   animation-delay:.2s;
// }


// .map-location-marker {
//   background: url(https://jeffbridgforth.com/codepen/map-pin.png) no-repeat;
//   cursor: pointer;
//   position: absolute;
//   height: px-to-ems(30px);
//   margin-top:px-to-ems(-30px);
//   margin-left: px-to-ems(-11px,14px);
//   width: px-to-ems(21px);
//   z-index:3;
//   // }
// }

// .map-location-marker:after {
//   -webkit-animation: pulsate 2s ease-in-out infinite;
//   -moz-animation: pulsate 2s ease-in-out infinite;
//   animation: pulsate 2s ease-in-out infinite;
//   background: transparent;
//   border: 2px solid $color-white;
//   border-radius: 30px;
//   content: "";
//   display: block;
//   height: 31px;
//   left: -7px;
//   opacity: 0;
//   position: absolute;
//   top: -8px;
//   -webkit-transition: all .25s linear;
//   -moz-transition: all .25s linear;
//   -o-transition: all .25s linear;
//   transition: all .25s linear;
//   width: 31px;
//   z-index: 2;
// }

// #page-places {
// position: relative;
// }
// #map-info {
// background: $color-black;
// color: $color-white;
// position: absolute;
// top:px-to-ems(-25px);
// left:50%;
// margin-left:px-to-ems(-125px);
// padding:px-to-ems(18px);
// width:px-to-ems(250px);
// z-index:10;
// .close-btn {
//   background: url(http://jeffbridgforth.com/codepen//close-btn.png) no-repeat;
//   cursor: pointer;
//   display: block;
//   height: px-to-ems(11px);
//   width: px-to-ems(11px);
//   position: absolute;
//   right:px-to-ems(18px);
//   top:px-to-ems(18px);
// }
// }
