// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

  // .navbar-lewagon .navbar-brand img {
  //   width: 40px;
  // }


.mobile-nav {
  background: #08799C;
  position: fixed;
  bottom: 0;
  height: 89px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .bloc-icon img {
//   width: 30px;
// }
